<div class="login-container container mx-auto mt-5 p-3 border">
    <div id="login-form">
      <form action="" method="post">
        <div class="mb-3">
          <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
          <input type="text" class="mt-1 p-2 border rounded-md w-full" name="username">
        </div>
        <div class="mb-3">
          <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
          <input type="password" class="mt-1 p-2 border rounded-md w-full" name="password">
        </div>
        <button type="submit" class="px-4 py-2 text-white bg-blue-500 rounded-md">Connect</button>
      </form>
    </div>
  </div>
  

