<div class="login-container">
    <div class="logo">
        <h3>Studify</h3>
    </div>
    <div class="login-box">
        <h4>Welcome back to Studify</h4>
        <div class="coolinput">
            <label for="input" class="text">Username:</label>
            <input type="text" placeholder="Write here..." name="input" class="input">
        </div>
        <div class="coolinput">
            <label for="input" class="text">password:</label>
            <input type="password" placeholder="Write here..." name="input" class="input">
        </div>
        <button id="login-button">
            Login
        </button>
        <p>Are you a new user? sign up <a routerLink="/signup">here</a></p>
    </div>
</div>