<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap" rel="stylesheet">
<div class="home-container">
    <div class="welcome">
        <h1>Welcome To Studify</h1>
        <h4>Your guide to making study progress</h4>
        <h4>And organizing your task</h4>
        <div class="buttons">
            <button (click)="onLoginClick()">Login</button>
            <button (click)="onSignupClick()">Signup</button>
        </div>
    </div>
</div>